<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-pzN+BtvvKaWOdIYzIwEKHIcshjtdKdyGi46dwgV2SYJyirnyb4z9XtEN7CmMQ00jcwh5GzmYrp8tQJACl2SxyKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
        
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 border"  id="main_sidebar">
                {% include 'sidebar.html' %}
            </div>
            <div class="col-md-10 border" id="main_bar">
                {% block body %}
                
                {% endblock %}
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="{% static 'admin.js' %}"></script>
<script type="text/javascript" src="{% static 'user.js' %}"></script>

</html>